Makefile.in
Makefile
aclocal.m4
autom4te.cache
configure
config.*
ltmain.sh
libtool
mech_sanon.la
depcomp
m4
!m4/minuso.m4
build-aux
!build-aux/compile
*.lo
*.a
*.o
*.d
*.gcno
*.gcda
*.gcov
*.pyc
*#
*~
*.orig
.*.swp
.config
stamp-h1
.deps/
.libs/
.dirstamp
